
.mouse {
    width: 40px;
    height: 40px;
    cursor: none;
    position: fixed;
    z-index: 99999;
    cursor: none;

    img {
        border-radius: 50%;
    }
}

.yearlyBox {
    margin: 50px auto;
    position: absolute;
    width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.yearlyBox button {
    height: 40px;
}
